*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

#app {
  font-family:Helvetica, Arial, sans-serif;
  text-align: center;
  min-height:100vh;
  background-image: url('~@/assets/img/banner.jpg');
  background-size: cover;
  background-position: center;
}
a {
  text-decoration: none;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg,#5e7cb370 20%, #deecde8e 40%);
  display:flex;
  flex-direction: column;
  }
